.allure/
.idea/
.idea/workspace.xml
.idea/workspace.xml
target/
src/test/java/StepDefinitions/TestRunner.java
src/test/java/StepDefinitions/TestRunner.java
/.idea/
/.idea/
/.idea/libraries/
pom.xml
Selenium.Cucumber.BaseFramework.iml
.idea/misc.xml
Selenium.Cucumber.BaseFramework.iml
.idea/misc.xml
Selenium.Cucumber.BaseFramework.iml
